.btn {
    color: #fff;
    background-color: var(--main-brand-color);
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    transition: background-color 0.3s linear;
}

.secondary {
    margin: 3px 10px;
    padding: 0.3rem;
    display: inline-block;
    font-size: 0.6rem;
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--secondary-brand-color);
    border: 2px, solid var(--border-color);
    border-radius: 8px;
}

.form__h1 {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    color: var(--bg-color);

}

.form__element {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    color: var(--bg-color);

    .form__label {
        margin-top: 0.5rem;
    }


    .input {
        padding: 1rem;
        border-radius: 6px;
        border: none;
        background-color: var(--bg-color);
        color: var(--main-text-color);
    }
}

.form__actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form__fieldset {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 0.3rem;
}


@media screen and (width > 768px) {
    .btn {
        font-size: 1rem;
        padding: 0.7rem;

    }

    .social {
        font-size: 0.7rem;
        padding: 0.5rem;
    }
}

@media screen and (hover:hover) {
    .pointer {
        cursor: pointer;
    }

    .btn {
        cursor: pointer;

        &:hover {
            background-color: var(--main-brand-color-dark);
        }
    }

    .secondary {
        &:hover {
            background-color: var(--bg-color);
        }
    }
}