.btn {
    color: #fff;
    background-color: var(--main-brand-color);
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    transition: background-color 0.3s linear;
}

.social {
    margin: 3px 10px;
    padding: 0.3rem;
    display: inline-block;
    font-size: 0.6rem;
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--secondary-brand-color);
    border: 2px, solid var(--border-color);
    border-radius: 8px;
}


@media screen and (width > 768px) {
    .btn {
        font-size: 1rem;
        padding: 0.7rem;

    }

    .social {
        font-size: 0.7rem;
        padding: 0.5rem;
    }
}

@media screen and (hover:hover) {
    .btn {
        cursor: pointer;

        &:hover {
            background-color: var(--main-brand-color-dark);
        }
    }

    .social {
        &:hover {
            background-color: transparent;
        }
    }
}