.footer {
    text-align: center;
    background-color: var(--bg-color);

    .list {
        list-style: none;
        padding: 0;

        .btn-social {
            margin: 3px 10px;
            padding: 0.3rem;
            display: inline-block;
            font-size: 0.6rem;
            text-decoration: none;
            color: var(--main-text-color);
            background-color: var(--secondary-brand-color);
            border: 2px, solid var(--border-color);
            border-radius: 8px;
        }
    }

}