.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .navbar {
        .list {
            display: flex;
            gap: 10px;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .image {
        width: 100%;
        min-width: 150px;
        max-width: 250px;
    }
}


.hidden {
    display: none;
}

@media screen and (width > 768px) {
    .hidden {
        display: block;
    }
}