.banner {
    height: 75vh;
    align-content: center;
    position: relative;

    .content {
        text-align: center;
        z-index: 1;
        position: relative;

        .selfie {
            border-radius: 80px;
            border: 2px solid var(--border-color);
            height: 160px;
            width: 160px;
            margin-top: 1rem;
        }

        .h-1 {
            margin-top: 1rem;
            margin-bottom: 0;
        }

        .text-presentation {
            font-weight: 600;
            font-size: 0.7rem;
            width: 90%;
            margin: 10px auto;
            max-width: 768px;
        }

        .list {
            list-style: none;
            padding: 0;
            margin: 0;

            .item {
                margin-bottom: 1rem;

                .btn-contact {
                    color: var(--main-text-color);
                    background-color: var(--secondary-brand-color);
                    text-decoration: none;
                    padding: 0.7rem;
                    display: inline-block;
                    border-radius: 8px;
                    border-color: var(--border-color);
                }
            }
        }
    }

    .image {
        background-image: url(../assets/BANNER3.JPG);
        opacity: 0.3;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}